
.main{

}
.caja-imagen{
width: 80%;
}
.caja-boton{
width: 50%;
}
.imagen-persona{
  width: 60%;

}
.btn-suscripcion{
  margin-left: 1%;
}

/* Seccion suscripcion */
#panel-suscripcion{
  display: none;
}
.input-cantidad{
 border: 0;
 border-bottom: 1px solid #ccc;
 width: 50%;
 text-align: center;
 margin-top: 10%;
}
.select-oracional{
  margin-top: 10%;
}
.input-fecha{
 border: 0;
 border-bottom: 1px solid #ccc;
}
.nombre-recibe{
  border: 0;
  border-bottom: 1px solid #ccc;
}
.direccion-suscripcion{
  margin-top: 4%;
}

/* fin suscripcion */
.texto-alerta-footer{
  font-size: 12px;
}
.tooltip-button{
  background-color: rgba(38, 185, 154, 0.59);
  color: white;
}
.tooltip-button-datos{
  background-color: #e6e6e6;
  color: black;
  width: 80%;
  text-align: left;
}
.button-ver{
  background-color: #00b4b7;
  color: white;
  width: 20%;
  font-size: 12px;
}

.button-sus{
  background-color: #00b4b7;
  color: white;
  width: 80%;
  font-size: 12px;
}
.button-editar{
  background-color: #388595;
  color: white;
  width: 25%;
  font-size: 12px;
}
.button-historial{
  background-color: #6ebfce;
  color: white;
  width: 31%;
  font-size: 12px;
}
.historial-apellidos{
  margin-left: 8%;
  font-size: 22px;
}

.img-onda{
  height: 50px;
  width: 100%;
 margin-left: 2%;
}
.file-voz{
  margin-left: 3%;
}

.Desactivo{
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: #ccc ;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.Activo{
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: rgba(38, 185, 154, 0.59) !important;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
