.main{

}

.activo-default {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: #ccc ;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.activo{
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: rgba(38, 185, 154, 0.59) !important;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
